altair==5.5.0
altgraph==0.17.3
appdirs==1.4.4
attrs==25.1.0
audioread==3.0.1
beautifulsoup4==4.12.2
blinker==1.9.0
cachetools==5.5.2
certifi==2023.5.7
cffi==1.17.1
charset-normalizer==3.2.0
click==8.1.6
coloredlogs==15.0.1
contourpy==1.1.0
cryptography==44.0.2
cycler==0.11.0
decorator==5.2.1
et-xmlfile==1.1.0
ffmpeg-python==0.2.0
flatbuffers==25.2.10
fonttools==4.40.0
fpdf==1.7.2
frozendict==2.3.8
future==1.0.0
gitdb==4.0.12
GitPython==3.1.44
GPUtil==1.4.0
html5lib==1.1
humanfriendly==10.0
idna==3.4
imageio==2.37.0
Jinja2==3.1.6
joblib==1.3.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keyboard==0.13.5
kiwisolver==1.4.4
lazy_loader==0.4
librosa==0.11.0
llvmlite==0.44.0
lxml==4.9.3
macholib==1.16.2
MarkupSafe==3.0.2
matplotlib==3.7.1
MouseInfo==0.1.3
mpmath==1.3.0
msgpack==1.1.0
multitasking==0.0.11
narwhals==1.29.1
networkx==3.4.2
numba==0.61.0
numpy==1.24.3
onnxruntime-silicon==1.16.3
opencv-python==4.8.0.76
opencv-python-headless==4.11.0.86
openpyxl==3.1.2
optional-django==0.3.0
packaging==23.1
pandas==2.0.3
pdfminer.six==20231228
pdfplumber==0.11.5
peewee==3.16.3
pillow==11.1.0
platformdirs==4.3.6
pooch==1.8.2
prettytable==3.8.0
protobuf==5.29.3
psutil==5.9.5
pyarrow==19.0.1
PyAudio==0.2.13
PyAutoGUI==0.9.54
pycparser==2.22
pydeck==0.9.1
pydub==0.25.1
pygal==3.0.0
pygal-maps-world==1.0.2
PyGetWindow==0.0.9
pyinstaller==5.11.0
pyinstaller-hooks-contrib==2023.3
PyMatting==1.1.13
PyMsgBox==1.0.9
PyMuPDF==1.25.4
pynput==1.8.1
pyobjc==11.0
pyobjc-core==11.0
pyobjc-framework-Accessibility==11.0
pyobjc-framework-Accounts==11.0
pyobjc-framework-AddressBook==11.0
pyobjc-framework-AdServices==11.0
pyobjc-framework-AdSupport==11.0
pyobjc-framework-AppleScriptKit==11.0
pyobjc-framework-AppleScriptObjC==11.0
pyobjc-framework-ApplicationServices==11.0
pyobjc-framework-AppTrackingTransparency==11.0
pyobjc-framework-AudioVideoBridging==11.0
pyobjc-framework-AuthenticationServices==11.0
pyobjc-framework-AutomaticAssessmentConfiguration==11.0
pyobjc-framework-Automator==11.0
pyobjc-framework-AVFoundation==11.0
pyobjc-framework-AVKit==11.0
pyobjc-framework-AVRouting==11.0
pyobjc-framework-BackgroundAssets==11.0
pyobjc-framework-BrowserEngineKit==11.0
pyobjc-framework-BusinessChat==11.0
pyobjc-framework-CalendarStore==11.0
pyobjc-framework-CallKit==11.0
pyobjc-framework-Carbon==11.0
pyobjc-framework-CFNetwork==11.0
pyobjc-framework-Cinematic==11.0
pyobjc-framework-ClassKit==11.0
pyobjc-framework-CloudKit==11.0
pyobjc-framework-Cocoa==11.0
pyobjc-framework-Collaboration==11.0
pyobjc-framework-ColorSync==11.0
pyobjc-framework-Contacts==11.0
pyobjc-framework-ContactsUI==11.0
pyobjc-framework-CoreAudio==11.0
pyobjc-framework-CoreAudioKit==11.0
pyobjc-framework-CoreBluetooth==11.0
pyobjc-framework-CoreData==11.0
pyobjc-framework-CoreHaptics==11.0
pyobjc-framework-CoreLocation==11.0
pyobjc-framework-CoreMedia==11.0
pyobjc-framework-CoreMediaIO==11.0
pyobjc-framework-CoreMIDI==11.0
pyobjc-framework-CoreML==11.0
pyobjc-framework-CoreMotion==11.0
pyobjc-framework-CoreServices==11.0
pyobjc-framework-CoreSpotlight==11.0
pyobjc-framework-CoreText==11.0
pyobjc-framework-CoreWLAN==11.0
pyobjc-framework-CryptoTokenKit==11.0
pyobjc-framework-DataDetection==11.0
pyobjc-framework-DeviceCheck==11.0
pyobjc-framework-DeviceDiscoveryExtension==11.0
pyobjc-framework-DictionaryServices==11.0
pyobjc-framework-DiscRecording==11.0
pyobjc-framework-DiscRecordingUI==11.0
pyobjc-framework-DiskArbitration==11.0
pyobjc-framework-DVDPlayback==11.0
pyobjc-framework-EventKit==11.0
pyobjc-framework-ExceptionHandling==11.0
pyobjc-framework-ExecutionPolicy==11.0
pyobjc-framework-ExtensionKit==11.0
pyobjc-framework-ExternalAccessory==11.0
pyobjc-framework-FileProvider==11.0
pyobjc-framework-FileProviderUI==11.0
pyobjc-framework-FinderSync==11.0
pyobjc-framework-FSEvents==11.0
pyobjc-framework-GameCenter==11.0
pyobjc-framework-GameController==11.0
pyobjc-framework-GameKit==11.0
pyobjc-framework-GameplayKit==11.0
pyobjc-framework-HealthKit==11.0
pyobjc-framework-ImageCaptureCore==11.0
pyobjc-framework-InputMethodKit==11.0
pyobjc-framework-InstallerPlugins==11.0
pyobjc-framework-InstantMessage==11.0
pyobjc-framework-Intents==11.0
pyobjc-framework-IntentsUI==11.0
pyobjc-framework-IOBluetooth==11.0
pyobjc-framework-IOBluetoothUI==11.0
pyobjc-framework-IOSurface==11.0
pyobjc-framework-iTunesLibrary==11.0
pyobjc-framework-KernelManagement==11.0
pyobjc-framework-LatentSemanticMapping==11.0
pyobjc-framework-LaunchServices==11.0
pyobjc-framework-libdispatch==11.0
pyobjc-framework-libxpc==11.0
pyobjc-framework-LinkPresentation==11.0
pyobjc-framework-LocalAuthentication==11.0
pyobjc-framework-LocalAuthenticationEmbeddedUI==11.0
pyobjc-framework-MailKit==11.0
pyobjc-framework-MapKit==11.0
pyobjc-framework-MediaAccessibility==11.0
pyobjc-framework-MediaExtension==11.0
pyobjc-framework-MediaLibrary==11.0
pyobjc-framework-MediaPlayer==11.0
pyobjc-framework-MediaToolbox==11.0
pyobjc-framework-Metal==11.0
pyobjc-framework-MetalFX==11.0
pyobjc-framework-MetalKit==11.0
pyobjc-framework-MetalPerformanceShaders==11.0
pyobjc-framework-MetalPerformanceShadersGraph==11.0
pyobjc-framework-MetricKit==11.0
pyobjc-framework-MLCompute==11.0
pyobjc-framework-ModelIO==11.0
pyobjc-framework-MultipeerConnectivity==11.0
pyobjc-framework-NaturalLanguage==11.0
pyobjc-framework-NetFS==11.0
pyobjc-framework-Network==11.0
pyobjc-framework-NetworkExtension==11.0
pyobjc-framework-NotificationCenter==11.0
pyobjc-framework-OpenDirectory==11.0
pyobjc-framework-OSAKit==11.0
pyobjc-framework-OSLog==11.0
pyobjc-framework-PassKit==11.0
pyobjc-framework-PencilKit==11.0
pyobjc-framework-PHASE==11.0
pyobjc-framework-Photos==11.0
pyobjc-framework-PhotosUI==11.0
pyobjc-framework-PreferencePanes==11.0
pyobjc-framework-PushKit==11.0
pyobjc-framework-Quartz==11.0
pyobjc-framework-QuickLookThumbnailing==11.0
pyobjc-framework-ReplayKit==11.0
pyobjc-framework-SafariServices==11.0
pyobjc-framework-SafetyKit==11.0
pyobjc-framework-SceneKit==11.0
pyobjc-framework-ScreenCaptureKit==11.0
pyobjc-framework-ScreenSaver==11.0
pyobjc-framework-ScreenTime==11.0
pyobjc-framework-ScriptingBridge==11.0
pyobjc-framework-SearchKit==11.0
pyobjc-framework-Security==11.0
pyobjc-framework-SecurityFoundation==11.0
pyobjc-framework-SecurityInterface==11.0
pyobjc-framework-SensitiveContentAnalysis==11.0
pyobjc-framework-ServiceManagement==11.0
pyobjc-framework-SharedWithYou==11.0
pyobjc-framework-SharedWithYouCore==11.0
pyobjc-framework-ShazamKit==11.0
pyobjc-framework-Social==11.0
pyobjc-framework-SoundAnalysis==11.0
pyobjc-framework-Speech==11.0
pyobjc-framework-SpriteKit==11.0
pyobjc-framework-StoreKit==11.0
pyobjc-framework-Symbols==11.0
pyobjc-framework-SyncServices==11.0
pyobjc-framework-SystemConfiguration==11.0
pyobjc-framework-SystemExtensions==11.0
pyobjc-framework-ThreadNetwork==11.0
pyobjc-framework-UniformTypeIdentifiers==11.0
pyobjc-framework-UserNotifications==11.0
pyobjc-framework-UserNotificationsUI==11.0
pyobjc-framework-VideoSubscriberAccount==11.0
pyobjc-framework-VideoToolbox==11.0
pyobjc-framework-Virtualization==11.0
pyobjc-framework-Vision==11.0
pyobjc-framework-WebKit==11.0
pyparsing==3.0.9
pypdfium2==4.30.1
pyperclip==1.9.0
pypng==0.20220715.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.16
PyQt5_sip==12.17.0
PyQt6==6.5.2
pyqt6-plugins==6.4.2.2.3
PyQt6-Qt6==6.5.2
PyQt6-sip==13.5.2
pyqt6-tools==6.4.2.3.3
PyQt6-WebEngine==6.5.0
PyQt6-WebEngine-Qt6==6.5.2
PyRect==0.2.0
PyScreeze==1.0.1
pytesseract==0.3.10
python-dateutil==2.8.2
python-dotenv==1.0.0
pytweening==1.2.0
pytz==2023.3
qrcode==7.4.2
qt6-applications==6.4.3.2.3
qt6-tools==6.4.3.1.3
referencing==0.36.2
rembg==2.0.65
requests==2.31.0
rpds-py==0.23.1
rubicon-objc==0.5.0
scikit-image==0.25.2
scikit-learn==1.3.0
scipy==1.15.2
seaborn==0.12.2
six==1.16.0
smmap==5.0.2
sounddevice==0.5.1
soundfile==0.13.1
soupsieve==2.4.1
soxr==0.5.0.post1
streamlit==1.43.1
streamlit-lottie==0.0.5
sympy==1.12
tabulate==0.9.0
tenacity==9.0.0
threadpoolctl==3.2.0
tifffile==2025.3.30
tk==0.1.0
toml==0.10.2
tornado==6.4.2
tqdm==4.67.1
twstock==1.3.1
typing_extensions==4.12.2
tzdata==2023.3
urllib3==2.0.3
wcwidth==0.2.6
webencodings==0.5.1
wordcloud==1.9.2
xlrd==2.0.1
xlwt==1.3.0
yfinance==0.2.30
yt-dlp==2025.3.31
